body {
    background-color: black;
    color: white;
}

#root {
    margin-top: 5vh;
}

#title {
    font-size: 10vh;
    margin-bottom: 2.5vh;
}

/* .gamepad {
    
} */

.tile {
    border: 3px;
    border-color: white;
    border-style: solid;
    height: auto;
    padding:18.75% 1 1;
    width: 25%;
}

img {
    width: 10vw;
    margin-right: 10px;
}

video {
    width:20vw;
}

#BR {
    margin-top: 3vh;
}

#resetButton {
    width:fit-content;
}

#result {
    font-size: 7.5vh;
}